<div class="row">
  <img src="<%= playlist_picture_url %>" class="playlist-picture_url" />
</div>

<% content_for :head do %>
  <style>
    .playlist-picture_url {
      margin-left: 16px;
    }
  </style>
<% end %>
