<% content_for :javascript do %>
  <% javascript_pack_tag 'landing' %>
<% end %>

<div class="landing-page">
  <div id="player-overlay">
    <div class="heading">
      <div class="punchline">Watch your songs. Maldon.io</div>
      <div class="sub-punchline">Entire videoclip experience based on your favorite audio playlists.</div>
      <div id="connect-buttons" class="connect-buttons">
        <%= link_to image_pack_tag('umpty.png', class: 'connect deezer', data: { service: 'deezer' }), '/auth/deezer' %>
        <%= link_to image_pack_path('umpty.png', class: 'connect spotify', data: { service: 'spotify' }), '/auth/spotify' %>
      </div>
      <div class="demo">
        Hey you! No music account? <%= link_to 'Try out our demo', '/auth/demo' %>
      </div>
    </div>
  </div>
  <div id="landing-vue"></div>
</div>
