$color: white;
$border-color: #CECECE;
$main-color: black;
$doTextGrey: rgba(140,140,140,1);
$doLightGrey: rgb(217,217,217);
$doDarkBg: rgba(31,34,38,1);
$doMainBg: #272A2F; // #rgba(39,42,47,1); // background clair (fond pano, fond expand)
$doLightBg: rgba(50,54,60,1); // background plus clair (search bar, hover, fond sous titres)
$doLightestBg: rgba(57,63,71,1);
$doBlue: rgba(63,112,228,1); // bleu clair (barre player)
$doDarkBlue: rgba(54,92,180,1); //bleu foncé (etat select liste)
$doScrollbarBg: rgba(34,37,41,1);
$noticeColor: green;
$alertColor: orange;
