.loader-wrapper
{
    width: 25px;
    height: 25px;
    float: left;
    position: relative;
    top: 19px;
    left: -10px;
}

.loader{
    position: relative;
    width: 25px;
    height: 25px;
    float:left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.loader-bg
{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.1);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.spiner-holder-one
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 50%;
    height: 50%;
    background: transparent;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.spiner-holder-two
{
    position: absolute;
    top:0;
    left:0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: transparent;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.loader-spiner
{
    width: 200%;
    height: 200%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
  .animate-0-25-a
{
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.animate-0-25-b
{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.animate-25-50-a
{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.animate-25-50-b
{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.animate-50-75-a
{
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.animate-50-75-b
{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin:100% 100%;
    transform-origin:100% 100%;
}
.animate-75-100-a
{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.animate-75-100-b
{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
.text
{
    text-align: center;
    padding-top: 10%;
    font-size: 14px;
    color: white;
    position: absolute;
    padding-left: 16%;
    z-index: 2;
    &.icon-pause2
    {
        font-size: 12px;
        padding-top: 15%;
        padding-left: 14%;
    }
}

.mask {
    width: 74%;
    height: 74%;
    left: 12.5%;
    /* margin: auto; */
    top: 13.5%;
    position: absolute;
    background-color: $doDarkBlue;
    border-radius: 50%;
    z-index: 1;
}