@mixin background-opacity($color, $opacity: 1) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);
    background-color: $color; /* The Fallback */
    background-color: rgba($red,$green,$blue, $opacity);
}