body .qtip-tipsy{
    background: $doMainBg;

    color: white;
    border: 0 solid transparent;

    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
    .qtip-titlebar{
        padding: 6px 35px 0 10px;
        background-color: transparent;
    }

    .qtip-content{
        padding: 6px 10px;
    }

    .qtip-icon{
        border-color: #222;
        text-shadow: none;
    }

    .qtip-titlebar .ui-state-hover{
        border-color: #303030;
    }
}


.karaoke-menu {
    width: 186px;
    height: 108px;
    background-color: rgba(3, 2, 2, 0.46);
    border: 1px solid black;
    background: $doLightestBg;
    font-family: Cabin;
    font-size: 14px;
    .karaoke-bar {
        position: absolute;
        width: 40px;
        height: 1px;
        left: 1px;
        background: $doLightestBg;
        top: 0;
    }
    .karaoke-body {
        width:100%;
        height:108px;
        margin-top:1px;
        overflow: hidden;
    }
    .karaoke-track {
        color:white;
        overflow: hidden;
        word-break: normal;
        max-width: 100%;
        white-space: nowrap;
        font-size: 14px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
    .karaoke-box {
        width: 46%;
        margin-left: 0%;
        padding-top: 3%;
        float: left;
    }
    .karaoke-box + .karaoke-box {
    margin-left:3%;
    }



    .on-off {
        width: 60px;
        .on-off-menu {
        width: 50%;
        background-color: grey;
        border: 0;
        margin: 0;
        padding: 0;
        background-color: $doMainBg;
            &.selected {
            background-color: $doBlue;
            }
        }
    }
}


body .qtip-karaoke{
    color: white;
    border: 0 solid transparent;
    font-size: 12px;
    font-family: 'Cabin', sans-serif;
    font-weight: bold;
    line-height: 16px;
    text-shadow: 0 1px black;
    .qtip-titlebar{
        padding: 6px 35px 0 10px;
        background-color: transparent;
    }
    .qtip-tip
    {
        display: none !important;
    }
    .qtip-content{
        padding: 0;
    }

    .qtip-icon{
        display:none;
    }

    .qtip-titlebar .ui-state-hover{
        border-color: #303030;
    }
}