$expand_menu_px: 350;
$expand_menu: unquote($expand_menu_px + 'px');
$expand_menu_large: unquote(($expand_menu_px * 2) + 'px');

@mixin radius($radius) {
  border-radius: $radius;
  border: $radius solid $border-color;
}

* {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  -webkit-font-smoothing: antialiased;
}

body, html {
    height: 100%;
    min-height: 100%;
    font-family: Cabin;
}

body {
  background-color: black;
  color: $main-color;
  margin: 0;
  padding: 0;
}

.admin {
  background-color: white;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

.notice-container {
  z-index: 99;
  position: absolute;
  float: right;
  background-color: $noticeColor;
  height: 50px;
  text-align: center;
  width: 100%;
  padding: 10px;
  font-size: 1.5em;

  .alert {
    background-color: $alertColor;
  }
}

#menu
{
    float:left;
    position:relative;
    left:0;
    background-color: $doMainBg;
    height: 100%;
    min-height: 100%;
    width:$expand_menu;
    overflow: hidden;
    border-right: 1px solid  $doDarkBg;
    -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
         -ms-transition: all .2s ease-in;
             transition: all .2s ease-in;
    &.menu-closed
    {
      left: -$expand_menu;
    }
}

$menu-top: 57px;
#menu .menu-top
{
  height: $menu-top;
  overflow: hidden;
  background-color: $doDarkBg;

  .menu-expand
  {
    display: block;
    width: 70px;
    float: right;
    height: 100%;
    margin: auto;
    vertical-align: middle;
    line-height: 54px;
    background-color: $doDarkBlue;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
         -ms-transition: all .2s linear;
             transition: all .2s linear;

    &:before
    {
      content: "\e626";
      position: relative;
      top: 1px;
      font-size: 20px;
      font-weight: normal !important;
      font-family: icomoon;
      color: $doLightGrey;
    }
    &:hover {
      color: white;
    }
  }


  img {
    height: $menu-top;
    float: left;
  }
  .user-name
  {
    float: left;
    color: white;
    margin-left: 20px;
    font-size: 18px;
    line-height: 38px;

    b {
      color: $doTextGrey;
      font-weight: normal;
    }
  }
  .menu-logout
  {
    line-height: 10px;
    position: relative;
    font-size: 13px;
    top: -4px;
    color: $doTextGrey;
    cursor: pointer;
    -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
         -ms-transition: all .2s linear;
             transition: all .2s linear;

    &:hover {
      color:white;
    }
  }
}

$menu-tools: 40px;
#menu .menu-tools
{
  height: $menu-tools;
  background-color: $doDarkBg;
  overflow: hidden;
  position: relative;
  .menu-tools-wrapper
  {
    position: absolute;
    top:0;
    left:0;
    -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
         -ms-transition: all .2s linear;
             transition: all .2s linear;
  }

  &.track-panel .menu-tools-wrapper
  {
    left: -$expand_menu;
    width: $expand_menu_large;
    height: 40px;
  }
  .play-all
  {
    width: $expand_menu;
    height: 100%;
    float:left;
    padding-left: 30px;
    padding-right: 30px;
  }
  #go-to-forward
  {
    cursor: pointer;
    font-size: 23px;
    color: $doTextGrey;
    float: right;
    line-height: 23px;
    -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
         -ms-transition: all .2s linear;
             transition: all .2s linear;
    &:hover i {
      color: white;
    }
  }
  #go-to-previous
  {
    cursor: pointer;
    font-size: 23px;
    color: $doTextGrey;
    float: left;
    line-height: 45px;
    -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
         -ms-transition: all .2s linear;
             transition: all .2s linear;
    &:hover {
      color: white;
    }
  }
  .play-tools
  {
    padding-left: 30px;
    float: right;
    font-size: 20px;
    color: #c5c5c5;
    line-height: 100%;
    height: 40px;
    i,span {
      cursor: pointer;
      -webkit-transition: all .2s linear;
          -moz-transition: all .2s linear;
           -ms-transition: all .2s linear;
               transition: all .2s linear;
      &.selected
      {
        color:white;
      }
    }
    i {
      position: relative;
      top: 10px;
    }
    i+i,span+span
    {
      margin-left:20px;
    }
    & span:hover,& i:hover
    {
      color: white;
    }
  }
  .main-sub
  {
    padding-top: 9px;
    padding-left: 30px;
    padding-right: 30px;
    height: 40px;
    width: $expand_menu;
    float:left;
    i {
      font-size: 20px;
      margin-left: 5px;
      color: $doTextGrey;
    }
  }
}

@mixin background-opacity($color, $opacity: 1) {
    $red: red($color);
    $green: green($color);
    $blue: blue($color);
    background: $color; /* The Fallback */
    background: rgba($red,$green,$blue, $opacity);
}

$menu-cover: 180px;
#menu .menu-cover
{
  position: relative;
  cursor: pointer;
  // padding:20px;
  height: $menu-cover;
  overflow: hidden;
  width: $expand_menu;
  @include background-opacity($doMainBg,0.5);

  .menu-cover-wrapper
  {
    position: relative;
    width: $expand_menu_large;
  }
  .menu-current
  {
    float:left;
    position: relative;
    width: $expand_menu;
    height: $menu-cover;
  }

  .cover
  {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 0;
    opacity: 0.1;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
       min-height: 100%;
       min-width: 100%;
       max-width: 100%;
    }
  }

  .cover-overlay
  {
    position: absolute;
    top: 30px;
    left: 30px;
    right: 0;

    img {
      float: left;
      height: 120px;
    }
  }
  .infos {
    height: 120px;
    float: left;
    margin-left: 20px;
    .title {
      font-size: 28px;
      white-space: pre-wrap;
      word-break: break-word;
      color: white;
      width: 160px;
      line-height: 33px;
      max-height: 68px;
      text-overflow:ellipsis;
      overflow:hidden;
      display: -webkit-box;
       -webkit-line-clamp: 2;
       -webkit-box-orient: vertical;
       position: relative;
       top: -6px;
    }
    .extras
    {
      margin-top:6px;
    }
    .nb_track {
      color: white;
      font-size: 16px;
      margin-top:2px;
    }
  }

}

#menu .menu-slide
{
  width: $expand_menu_large;
  position: relative;
  left:0;
  overflow: hidden;
  // max-height: 100%;
  // height: 100%;
  -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
       -ms-transition: all .2s linear;
           transition: all .2s linear;
  .menu-slide-wrapper
  {
    // position: absolute;
    top: 0;
    width: 350px;
    left: 0;
    bottom: 0;
    overflow: hidden;
    .search
    {
      padding-top: 20px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 10px;
      width: $expand_menu;
      input {
        width: 314px;
        outline: none;
        border: 0;
        height: 40px;
        padding-left: 15px;
        padding-right: 35px;
        width: 100%;
        color: $doTextGrey;
        font-size: 16px;
        background-color: $doLightBg;


      }
      i {
        position:absolute;
        top:30px;
        right:40px;
        font-size: 20px;
        margin-left: 5px;
        color: $doTextGrey;
      }
    }
  }

  .menu-slide-wrapper.tracks
  {
    position: absolute;
    left: 350px;
  }
  .menu-wrapper {
    margin: 0;
    -webkit-padding-start: 0;
    -moz-padding-start: 0;
    width: $expand_menu;
    min-width: $expand_menu;
    float: left;
    height: 100%;
    // padding-top: 10px;
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
  .menu-wrapper.playlists {
    padding-top: 0px;
    padding-bottom: 100%;
  }
  ul li {
    width: $expand_menu;
    overflow: hidden;
    display: block;
    height: 50px;
    line-height: 50px;
    font-size: 17px;
    color: white;
    padding-left: 30px;
    padding-right: 30px;
    text-overflow: ellipsis;
    background-color: rgba(70,92,176,0);
    cursor: pointer;
    -webkit-transition: all .2s linear;
        -moz-transition: all .2s linear;
         -ms-transition: all .2s linear;
             transition: all .2s linear;

    &:hover {
      background-color: $doLightBg;
    }
    &.selected {
      background-color: $doDarkBlue;
    }

    &.playlist {
      text-overflow: ellipsis;
    }

    &.playlist[data-tracks-count="0"]
    {
      color:$doLightestBg;
      &:hover
      {
        cursor: default;
        background-color: transparent;
      }
    }

    &.disabled {
      //pointer-events: none;
      &:hover
      {
        cursor: default;
        background-color: transparent;
      }
      .track-title
      {
        color: $doLightestBg;
      }
    }

    &.selected .track-title
    {
      font-weight: bold;
    }
    &.selected .track-artist
    {
      padding-left: 32px;
      color: white;
    }
    // &.selected:before {
    //   content: "\e615";
    //   width: 32px;
    //   height: 10px;
    //   font-size: 20px;
    //   line-height: 65px;
    //   font-weight: normal !important;
    //   font-family: icomoon;
    //   color: white;
    //   float: left;
    // }
    // &.selected.paused:before {
    //   content: "\e616";
    // }
    .track-title {
      white-space: nowrap;
      font-size: 19px;
      text-overflow: ellipsis;
      overflow:hidden;
    }
    .track-artist {
      color: $doTextGrey;
      font-size: 16px;
      line-height: 21px;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      top: -6px;
    }
  }
}

#menu .menu-slide li.track
{
  height: 70px;
  line-height: 40px;
  padding-top:3px;
}

#main-view.menu-closed
{
  left:0;
}

.landing #main-view
{
  left:0 !important;
}

#main-view
{
  top: 0;
  position: fixed;
  /* float: left; */
  /* width: calc(100% - 300px); */
  height: 100%;
  background-color: black;
  left: $expand_menu;
  right: 0;
  -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
       -ms-transition: all .2s ease-in;
           transition: all .2s ease-in;
}

.landing #player-container
{
  bottom: 0%;
  // #player-controls
  // {
  //   display: none;
  // }
}

#player-controls
{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 5.3vw;
  background-color: $doDarkBg;
  z-index: 1000;

  &.inactive
  {
    background-color: transparent;
    .controls
    {
      opacity: 0;
      .keys
      {
        pointer-events: none;
      }
    }
  }

  .controls
  {
    -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
         -ms-transition: all .2s ease-in;
             transition: all .2s ease-in;
    height: 85%;
  }

  .infos-track
  {
    float: left;
    padding-left: 2%;
    padding-top: 0.6vw;
    .track-title
    {
      font-size: 1.5vw;
      color: white;
    }
    .track-artist
    {
      font-size: 1.3vw;
      color: $doTextGrey;
    }
  }

  .infos-extra
  {
    position: absolute;
    right: 1vw;
    top: 1vw;
    width: 9vw;
    .track-sound
    {
      width: 13vw;
      height: 1.4vw;
      margin-bottom: 2%;
      cursor: pointer;

      .volume
      {
        font-size: 1.1vw;
        color: $doLightGrey;
        position: absolute;
        top: -0.2vw;
        left: 7vw;
        -webkit-transition: all .2s ease-in;
            -moz-transition: all .2s ease-in;
             -ms-transition: all .2s ease-in;
                 transition: all .2s ease-in;
        &:hover
        {
          color: white;
        }
      }

      .sound-bar
      {
        width: 6vw;
        height: 0.5vw;
        background-color: $doLightBg;
        float: left;

        .sound-progress
        {
          width: 50%;
          background-color: $doLightGrey;
             height: 100%;
             -webkit-transition: all .2s ease-in;
                 -moz-transition: all .2s ease-in;
                  -ms-transition: all .2s ease-in;
                      transition: all .2s ease-in;
        }
      }
    }

    .timers {
      text-align: right;
      padding-right: 7%;
      position: relative;
    }
    .current-time
    {
      position: absolute;
      top: 0;
      left: 2vw;
      color: white;
      font-size: 1vw;
      display: inline-block;
    }
    .total-time
    {
      position: absolute;
      top: 0;
      left: 5.4vw;
      margin-left: 2%;
      color: $doLightGrey;
      font-size: 1vw;
      display: inline-block;
    }
  }

  .progress-bar
  {
    cursor: pointer;
    clear: both;
    height: 11%;
    background-color: $doLightestBg;
    .progress
    {
      width:0%;
      height: 100%;
      background-color: $doBlue;
      -webkit-transition: all .2s ease-in;
          -moz-transition: all .2s ease-in;
           -ms-transition: all .2s ease-in;
               transition: all .2s ease-in;
    }
  }
  .keys
  {
    padding-top: 0.4vw;
    float: left;
    padding-left: 2%;
    i {
      color: $doLightGrey;
      cursor: pointer;
      font-size: 2.5vw;
      //vertical-align: middle;
      -webkit-transition: color .2s linear;
          -moz-transition: color .2s linear;
           -ms-transition: color .2s linear;
               transition: color .2s linear;
      &:hover {
        color:white;
      }
    }

    .playButton-wrapper
    {
      width: 2.9vw;
height: 2.9vw;
overflow: hidden;
display: inline-block
    }

    .playback {
     font-size: 3vw;
     position: relative;
     top: 0.3vw;
    }
    .playback.icon-play4
    {
      position: relative;
      font-size: 3.5vw;
      left: -0.5vw;
      top: 0.1vw;
    }
  }
}


#main-view.menu-closed .menu-icon
{
  opacity: 0.55;
}

.menu-icon
{
  -webkit-transition: all .2s ease-in;
      -moz-transition: all .2s ease-in;
       -ms-transition: all .2s ease-in;
           transition: all .2s ease-in;

  opacity: 0;
  position:absolute;
  z-index: 3;
  top: 0;
  left: 0;
  display: block;
  width: 70px;
  height: 57px;
  margin: auto;
  vertical-align: middle;
  line-height: 54px;
  background-color: $doMainBg;
  text-align: center;
  cursor: pointer;

  &:before {
  content: "\e627";
  font-weight: normal !important;
  font-family: icomoon;
  color: rgb(217,217,217);
  position: relative;
  top: 1px;
  font-size: 20px;
  }
  &:hover {

  }
}

#player-overlay
{
  position: absolute;
  z-index: 2;
  background-color: rgba(0,0,0,0.35);
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
}

.home #player-overlay
{
  cursor: pointer;
  background-color: transparent;
}

#player-overlay .heading
{
  margin: auto;
  vertical-align: middle;
  text-align: center;
  font-size: 2em;
  color: white;
  top: 30%;
  position: relative;
  width: 100%;
  height: 40%;

  .demo
  {
    margin-top: 1vw;
    letter-spacing: 0.05vw;
    font-size: 1.5vw;
    a {
      text-decoration: none;
      color:white;
      border-bottom: 0.1vw solid rgba(255,255,255,0.4);
    }
  }
}

#player-overlay .heading .punchline
{
  font-weight: bold;
  font-size: 3.9vw;
  letter-spacing: 0.02vw;
  padding-bottom: 0.09vw;
  word-spacing: 0.4vw;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
}

#player-overlay .heading .sub-punchline
{
  font-size: 1.75vw;
  word-spacing: 0.4vw;
  text-shadow: 1px 3px 1px rgba(0, 0, 0, 0.5);
}

.connect-buttons
{
  width: 100%;
  height: 30%;
  margin-top:3%;
}
.connect
{
z-index: 3;
position: relative;
display: inline-block;
width:20%;
height:auto;
  // background-position: 0 0;
  // -webkit-transform: scale(0.5);
  // transform: scale(0.5);
  // transform-origin:0% 0%;
  // -webkit-transform-origin:0% 0%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    cursor: pointer;
}
.connect:hover
{
  background-position: 0% 100%;
}
.connect + .connect
{
  margin-left:10%;
}
.connect.deezer
{
  background-image: url('../images/deezerbtn.png');
}
.connect.spotify
{
  background-image: url('../images/spotifybtn.png');
}

.track-provider
{
  width: 13vw;
  height: 1.4vw;
  /* margin-bottom: 2%; */
  z-index: 3;
  opacity: 0.65;
  position: absolute;
  bottom: 0.8vw;
  right: -3vw;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}


    .track-provider[type="0"]
    {
      background-image: url('http://static1.dmcdn.net/images/header/logo@2x.png');
    }
    .track-provider[type="1"]
    {
      background-image: none;
      background-color:transparent;
    }

#lyrics {
  position: absolute;
  z-index: 2;
  /* width: 100%; */
  // top: 70%;
  bottom: 5%;
  width: 100%;
  margin: auto;
  /* height: 100%; */
}

#lyrics .lyrics {
  display: none;
  position: relative;
  margin: auto;
  width: 50%;
  color: white;
  padding: 1.2vw;
  font-size: 2vw;
  text-align: center;
  background-color: rgba(52, 66, 71, 0.58)
}

.landing #lyrics .lyrics {
  width: 30%;
  font-size: 1.5vw;
  font-weight: bold;
}

.icon-microphone
{
  position:relative;
  .resync-menu {
    display: none;
  }
}
.icon-microphone.selected:after
{
  content: "";
  display: inline-block;
  width: 23px;
  height: 1px;
  position: absolute;
  top: 8px;
  left: -3px;
  z-index: 1;
  background-color: white;
  border: 2px solid $doLightestBg;
  border-radius: 1px;
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.spin {
  position: relative;
  -webkit-animation: spin 2s infinite linear;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: $doTextGrey;
  -webkit-transition: all .2s linear;
      -moz-transition: all .2s linear;
       -ms-transition: all .2s linear;
           transition: all .2s linear;
  &:visited,&:link
  {
    color: $doTextGrey;
  }
  &:hover {
    text-decoration: none;
    color: white;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  @include background-opacity($doScrollbarBg,0.2);
}
::-webkit-scrollbar-thumb
{
  background-color: $doLightBg;
  -webkit-box-shadow: inset 0px 0px 0px 1px $doScrollbarBg;
}
::-webkit-scrollbar-thumb:vertical {

}
::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: $doLightestBg;
  -webkit-box-shadow: inset 0px 0px 0px 1px $doScrollbarBg;
}
::-webkit-scrollbar-thumb:horizontal {

}

*::-webkit-input-placeholder {
   color: $doTextGrey;
}

*:-moz-placeholder { /* Firefox 18- */
   color: $doTextGrey;
}

*::-moz-placeholder {  /* Firefox 19+ */
   color: $doTextGrey;
}

*:-ms-input-placeholder {
   color: $doTextGrey;
}

.karaoke-mode
{
  width: 40px;
  position: relative;
  display: inline-block;
  height: 100%;
  text-align: center;
  top: 1px;
  &:hover .karaoke-wrapper
  {
    // background-color: $doLightestBg; // UNCOMMENT FOR QTIP REENABLE
  }
  .karaoke-wrapper
  {
    width:100%;
    height:100%;
    border-bottom: none;
    i {
      top: 9px;
    }
  }
}


#templates
{
  display: none;
}
