<template>
<div id="player-controls">
  <div class="controls">
    <div class="keys">
      <i class="previous icon-first"></i>
      <span class="playButton-wrapper" v-on:click="togglePlayback">
        <i class="playback" v-bind:class="playbackIconClass"></i>
      </span>
      <i class="next icon-last" v-on:click="playNextTrack"></i>
    </div>
    <div class="infos-track">
      <div class="track-title">{{ currentTrackTitle }}</div>
      <div class="track-artist">{{ currentTrackArtist }}</div>
    </div>
    <div class="infos-extra">
      <div class="track-sound">
        <div class="sound-bar">
          <div class="sound-progress"></div>
        </div>
      <span class="volume" v-bind:class="volumeIconClass"  v-on:click="toggleMute"></span>
      </div>
      <div class="timers">
        <div class="current-time">{{ currentTrackTime }}</div>
        <div class="total-time">{{ currentTrackDuration }}</div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import { prettyDuration } from '../lib/helpers/time_helpers'
import BasePlayer from '../lib/players/base'

export default {
  props: {
    currentTrack: {
      required: true
    },
    currentTime: {
      type: Number,
      required: true
    },
    autoplay: {
      type: Boolean,
      required: false
    }
  },
  data () {
    return {
      playbackIconClass: this.autoplay ? 'icon-pause4' : 'icon-play4',
      volumeIconClass: 'icon-volume-medium',
    }
  },
  computed: {
    currentTrackTitle () {
      if (this.currentTrack === undefined) {
        return ''
      }

      return this.currentTrack.title
    },
    currentTrackArtist () {
      if (this.currentTrack === undefined) {
        return ''
      }

      return this.currentTrack.artist_name
    },
    currentTrackDuration () {
      if (this.currentTrack === undefined) {
        return prettyDuration(null)
      }

      return prettyDuration(this.currentTrack.duration)
    },
    currentTrackTime () {
      if (this.currentTime === 0) {
        return prettyDuration(null)
      }

      return prettyDuration(this.currentTime)
    }
  },
  watch: {
    currentTrack: function (val) {
      if (val !== null) {
        this.currentTrack = val
      }
    }
  },
  methods: {
    togglePlayback: function () {
      this.$emit('toggle-playback')

      if (this.playbackIconClass == 'icon-play4') {
        this.playbackIconClass = 'icon-pause4'
      }
      else {
        this.playbackIconClass = 'icon-play4'
      }
    },
    toggleMute: function () {
      this.$emit('toggle-mute')

      if (this.volumeIconClass == 'icon-volume-medium') {
        this.volumeIconClass = 'icon-volume-mute'
      }
      else {
        this.volumeIconClass = 'icon-volume-medium'
      }
    },
    playNextTrack: function () {
      this.$emit('play-next-track')
    }
  }
}
</script>
