<template>
  <div id="player-container">
    <div class="track-provider"></div>
    <div id="facts" style="color:#fff;position:absolute;"></div>
    <div id="lyrics"></div>
    <div id="player-overlay"></div>
    <div id="player-vendor-container"></div>
    <player-controls
      v-if="showControls"
      v-on:toggle-playback="togglePlayback"
      v-on:toggle-mute="toggleMute"
      v-on:play-next-track="playNextTrack"
      v-bind:autoplay="playerOptions.autoplay"
      v-bind:current-track="currentTrack"
      v-bind:current-time="currentTime"
    ></player-controls>
  </div>
</template>

<script>
import DailymotionPlayer from '../lib/players/dailymotion'

export default {
  props: {
    playlist: {
      required: true
    },
    showControls: {
      type: Boolean,
      required: false,
      default: true
    },
    playerOptions: {
      type: Object,
      required: false,
      default: function() {
        return {};
      }
    }
  },
  data () {
    return {
      vendorPlayer: null,
      currentTrackIndex: 0,
      currentTime: 0
    }
  },
  computed: {
    currentTrack () {
      if (this.playlist == null) { return; }

      return this.playlist.tracks[this.currentTrackIndex]
    }
  },
  watch: {
    playlist (val) {
      if (val !== null) {
        this.vendorPlayer.loadVideo(this.currentTrack.video.ref, this.playerOptions)
      }
    },
    currentTrackIndex (val) {
      this.vendorPlayer.loadVideo(this.currentTrack.video.ref);
    }
  },
  created () {
    this.vendorPlayer = new DailymotionPlayer('player-vendor-container')
    this.vendorPlayer.addEventListener('timeupdate', (event) => this.currentTime = this.vendorPlayer.currentTime);
  },
  methods: {
    togglePlayback () {
      this.vendorPlayer.togglePlay();
    },
    toggleMute () {
      this.vendorPlayer.toggleMute();
    },
    playNextTrack () {
      if (this.currentTrackIndex == this.playlist.tracks.length - 1) {
        this.currentTrackIndex = 0
      } else {
        this.currentTrackIndex += 1
      }
    }
  }
}
</script>

<style scoped>
  #player-container
  {
    z-index: 1;
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }
</style>
