<template>
  <li
    class="playlist-sidebar-item"
    :class="[selected ? 'selected' : '', 'playlist']"
    :data-title="playlist.title"
    :data-id="playlist.ref"
    :data-img="playlist.picture_url"
    :data-duration="playlist.duration"
    :data-tracks-count="playlist.tracks.size"
    :data-provider="playlist.provider.name"
  >
    {{ playlist.title }}
    <div class="menu-slide-wrapper tracks" style="display:none">
      <div class='menu-wrapper tracks'>
        <ul>
          <track-sidebar-item v-for="(track, index) of playlist.tracks"
            v-bind:selected="index == 0"
            v-bind:key="track.id"
            v-bind:track="track"
            v-bind:playlist="playlist"
          ></track-sidebar-item>
        </ul>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    playlist: {
      type: Object,
      required: true
    },
    selected: {
      type: Boolean,
      required: false,
      default: false
    }
  }
}
</script>
