<template>
  <li
    :class="[selected ? 'selected' : '', 'track']"
    :data-title="track.title"
    :data-artist="track.artist_name"
    :data-track-id="track.ref"
    :data-artist-picture="track.artist_image_url"
    :data-album-picture="track.album_image_url"
    :data-video-id="track.video ? track.video.ref : ''"
    :data-video-provider="track.video ? track.video.provider.name : ''"
    :data-playlist-id="playlist.ref"
  >
    <div class="track-title">{{ track.title }}</div>
    <div class="track-artist">{{ track.artist_name }}</div>
  </li>
</template>

<script>
  export default {
    props: {
      playlist: {
        type: Object,
        required: true
      },
      track: {
        type: Object,
        required: true
      },
      selected: {
        type: Boolean,
        required: false,
        default: false
      }
    }
  }
</script>
