<li v-for="(playlist, index) of playlists"
  :class="[index == 0 ? 'selected' : '', 'playlist']"
  :data-title="playlist.title"
  :data-id="playlist.ref"
  :data-img="playlist.picture_url"
  :data-duration="playlist.duration"
  :data-tracks-count="playlist.tracks.size"
  :data-provider="playlist.provider.name"
  >
  {{ playlist.title }}
  <div class="menu-slide-wrapper tracks" style="display:none">
    <div class='menu-wrapper tracks'>
      <ul>
        <%= render partial: 'tracks' %>
      </ul>
    </div>
  </div>
</li>
