<li v-for="(track, index) of playlist.tracks"
  :class="[index == 0 ? 'selected' : '', 'track']"
  :data-title="track.title"
  :data-artist="track.artist_name"
  :data-track-id="track.ref"
  :data-artist-picture="track.artist_image_url"
  :data-album-picture="track.album_image_url"
  :data-video-id="track.video.ref"
  :data-video-provider="track.video.provider.name"
  :data-playlist-id="playlist.ref"
  >
  <div class="track-title">{{ track.title }}</div>
  <div class="track-artist">{{ track.artist_name }}</div>
</li>
