<% content_for :javascript do %>
  <% javascript_include_tag '//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.min.js' %>
  <% javascript_pack_tag 'playlists' %>
<% end %>
<% content_for :stylesheet, stylesheet_link_tag('//cdn.jsdelivr.net/qtip2/2.2.0/jquery.qtip.css') %>

<div id="playlists-page" class="playlists-page">
  <div id="templates">
    <%= render 'loader' %>
    <div class="karaoke-menu">
     <div class="karaoke-bar"></div>
     <div class="karaoke-body">
       <div class="karaoke-track"></div>
       <div class="karaoke-box">
         Lyrics mode
         <div class="on-off">
           <button class="on-off-menu on">Yes</button>
           <button class="on-off-menu">No</button>
         </div>
       </div>
       <div class="karaoke-box">
         Lyrics offset
         <div class="on-off">
           <button class="on-off-menu on selected">&#9660;</button>
           <button class="on-off-menu off ">&#9650;</button>
         </div>
       </div>
     </div>
   </div>
  </div>

  <div id="menu">
    <div class="menu-top">
      <img src="<%= current_user.picture_url %>" alt="<%= current_user.login %>">
      <div class="user-name">
        <%= current_user.login %>
        <div class="menu-logout"><%= link_to 'Logout', logout_path %></div>
      </div>
      <div class="menu-expand"></div>
    </div>
    <div class="menu-cover">
      <div class="menu-cover-wrapper">
        <div class="menu-current">
          <div class="cover">
            <img :src="coverImageUrl" alt="">
          </div>
          <div class="cover-overlay">
            <img :src="coverOverlayUrl" alt="">
            <div class="infos">
              <div class="title">{{ currentPlaylistTitle }}</div>
              <div class="extras">
                <div class="nb_track"><span class="tracks-count">{{ currentPlaylistTracksCount }}</span> titles</div>
                <div class="nb_track duration">{{ currentPlaylistDuration }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="menu-tools">
      <div class="menu-tools-wrapper">
        <div class="main-sub">
          <div class="left-side"></div>
          <div id="go-to-forward"><i class="icon-arrow-right"></i></div>
        </div>
        <div class="play-all">
          <div id='go-to-previous'><i class="icon-arrow-left"></i></div>
          <div class="play-tools">
            <i class="icon2-flag report" tooltip="Wrong video for this song"></i>
            <span class="karaoke-mode">
              <div class="karaoke-wrapper">
                <i class="icon-microphone"></i>
              </div>
            </span>
            <i class="icon-shuffle2"></i>
            <i class="icon-cw"></i>
            <i class="icon-cog"></i>
          </div>
        </div>
      </div>
    </div>
  <!--   <div class='search-playlist'>
      <input type="text" placeholder="Search for a playlist"><i class="fa fa-search"></i>
    </div>
   -->
    <div class="menu-slide playlists">
      <div class="menu-slide-wrapper">
  <!--       <div class="search"><input type="text" placeholder="Search in your playlists">
          <i class="icon-search2"></i>
        </div>
   -->
        <div id="playlists" class='menu-wrapper playlists'>
          <ul>
            <playlist-sidebar-item
              v-for="(playlist, index) of playlists"
              v-bind:selected="index == 0"
              v-bind:key="playlist.id"
              v-bind:playlist="playlist"
            ></playlist-sidebar-item>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div id="main-view">
    <div class="menu-icon"></div>
    <player v-bind:playlist="currentPlaylist" v-bind:player-options="{ autoplay: false }"></player>
    <div class="progress-bar">
      <div class="progress"></div>
    </div>
  </div>
</div>
