<!DOCTYPE html>
<html>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <head>
    <title>Watch your songs - Maldon.io</title>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Cabin:400,700' %>
    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= yield :stylesheet %>
    <%= csrf_meta_tags %>
    <script>
      URL = "<%= root_url %>";
      playlistwrapper = {};
      playlistwrapper.playlist = {};
    </script>
  </head>
  <body>
    <% if flash[:notice] %>
      <div class="notice-container"><div><%= flash[:notice] %></div></div>
    <% end %>
    <% if flash[:alert] %>
      <div class="notice-container alert"><div><%= flash[:alert] %></div></div>
    <% end %>

    <%= yield %>

    <%= javascript_pack_tag 'application' %>
    <%= yield :javascript %>
    <%= render 'layouts/google_analytics' %>
  </body>
</html>
